*{
    margin: 0px;
    background-color: #35524c;

}

.header-title{
    font-family: 'Audiowide', cursive;
    background-color: #4B33F2;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 12px;
    padding: 15px;
    margin: 20px 0px;
    border: 5px solid;
    border-color:#F9FAF8;
    border-radius: 10px;
    background: linear-gradient(to right, #CA31E8, #33F2BE, #15EB12); /* Define a cor da linha usando um gradiente */
    background-clip: padding-box; /* Define a área onde o fundo do gradiente é exibido */
}

.title h1{
    background-color: inherit;
}

.container{
    display: flex;
    justify-content: space-around;
}


#divbutton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
}


.button{
    color: #F9FAF8;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 36px;
    border: 2px solid;
    border-color: #F9FAF8;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to right, #CA31E8, #33F2BE, #15EB12); /* Define a cor da linha usando um gradiente */
    background-clip: padding-box; /* Define a área onde o fundo do gradiente é exibido */
}

.button::before{
    content: "";
    position:absolute;
    background-color: #F9FAF8;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.button:hover::before{
    left: calc(100% + 32px);
    transition: 0.75s;
}

.containerChild{
    width: 186px;
}

#squares{
    color: #F9FAF8;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 36px;
    border: 2px solid;
    border-color: white;
    border-radius: 32px;
    cursor: pointer;
    background: linear-gradient(to right, #CA31E8, #33F2BE, #15EB12); /* Define a cor da linha usando um gradiente */
    background-clip: padding-box; /* Define a área onde o fundo do gradiente é exibido */
}